@page
@model ERPSystem.Pages.Projects.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Project</h4>
<hr />
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Project.Id" />
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Project.Name" class="control-label"></label>
                <input asp-for="Project.Name" class="form-control" />
                <span asp-validation-for="Project.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Project.StartDate" class="control-label"></label>
                <input asp-for="Project.StartDate" class="form-control" />
                <span asp-validation-for="Project.StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Project.EndDate" class="control-label"></label>
                <input asp-for="Project.EndDate" class="form-control" />
                <span asp-validation-for="Project.EndDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Project.ProjectState" class="control-label"></label>
                <select asp-for="Project.ProjectState" asp-items="Html.GetEnumSelectList<Models.DepartmentState>()" class="form-control"></select>
                <span asp-validation-for="Project.ProjectState" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Project.Department" class="control-label"></label>
                <select asp-for="Project.DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"><option value="">--none--</option></select>
                <span asp-validation-for="Project.DepartmentId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Project.ProjectManager" class="control-label"></label>
                <select asp-for="ProjectManagerId" asp-items="Model.ProjectManagerList" class="form-control"><option value="">--none--</option></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Project.Positions" class="control-label"></label><br />
                <select asp-for="SelectedPositions" asp-items="Model.PositionsSelectList" size="10">
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="./Index"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-currentFilter="@Model.CurrentFilter">
        Back to List
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $("#ProjectManagerId, #Project_DepartmentId").on("change", function () {
                var response1;
                var response2;
                var employeeId = $("#ProjectManagerId").val();
                var departmentId = $("#Project_DepartmentId").val();
                var state = document.getElementById('Project_ProjectState');
                $.getJSON(`?handler=Employee&employeeId=${employeeId}`, function (response) {
                    if (response === "Active") response1 = true;
                    else response1 = false;
                    $.getJSON(`?handler=Department&departmentId=${departmentId}`, function (response) {
                        if (response === "Active") response2 = true;
                        else response2 = false;
                        if (response1 && response2) response = "Active";
                        else response = "Inactive";
                        for (var i = 0; i < state.options.length; i++) {
                            if (state.options[i].text === response) {
                                state.selectedIndex = i;
                                break;
                            }
                        }
                    });
                });
            });
        });
        $(function () {
            $("#Project_ProjectState").on("change", function () {
                var employeeId = $("#ProjectManagerId").val();
                var departmentId = $("#Project_DepartmentId").val();
                var state = document.getElementById('Project_ProjectState');
                $.getJSON(`?handler=Employee&employeeId=${employeeId}`, function (response) {
                    if (response === "Inactive") {
                        for (var i = 0; i < state.options.length; i++) {
                            if (state.options[i].text === response) {
                                state.selectedIndex = i;
                                break;
                            }
                        }
                    }
                });
                $.getJSON(`?handler=Department&departmentId=${departmentId}`, function (response) {
                    if (response === "Inactive") {
                        for (var i = 0; i < state.options.length; i++) {
                            if (state.options[i].text === response) {
                                state.selectedIndex = i;
                                break;
                            }
                        }
                    }
                });
            });
        });
    </script>
}
