@page
@model ERPSystem.Pages.Employees.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.Id" />
            <div class="form-group">
                <label asp-for="Employee.FirstName" class="control-label"></label>
                <input asp-for="Employee.FirstName" class="form-control" />
                <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.LastName" class="control-label"></label>
                <input asp-for="Employee.LastName" class="form-control" />
                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.DateOfBirth" class="control-label"></label>
                <input asp-for="Employee.DateOfBirth" class="form-control" />
                <span asp-validation-for="Employee.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmployeeState" class="control-label"></label>
                <select asp-for="Employee.EmployeeState" class="form-control"></select>
                <span asp-validation-for="Employee.EmployeeState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmployeeRole" class="control-label"></label>
                <select asp-for="Employee.EmployeeRole" class="form-control"></select>
                <span asp-validation-for="Employee.EmployeeRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.BranchId" class="control-label"></label>
                <select asp-for="Employee.BranchId" class="form-control" asp-items="ViewBag.BranchId"></select>
                <span asp-validation-for="Employee.BranchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.ProjectId" class="control-label"></label>
                <select asp-for="Employee.ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                <span asp-validation-for="Employee.ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.CompanyId" class="control-label"></label>
                <select asp-for="Employee.CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="Employee.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.DepartmentId" class="control-label"></label>
                <select asp-for="Employee.DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="Employee.DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
