@page
@model ERPSystem.Pages.Reports.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Report.Id" />
            <div class="form-group">
                <label asp-for="Report.Hours" class="control-label"></label>
                <input asp-for="Report.Hours" class="form-control" />
                <span asp-validation-for="Report.Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Report.ReportState" class="control-label"></label>
                <select asp-for="Report.ReportState" class="form-control"></select>
                <span asp-validation-for="Report.ReportState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Report.Date" class="control-label"></label>
                <input asp-for="Report.Date" class="form-control" />
                <span asp-validation-for="Report.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Report.AssignmentId" class="control-label"></label>
                <select asp-for="Report.AssignmentId" class="form-control" asp-items="ViewBag.AssignmentId"></select>
                <span asp-validation-for="Report.AssignmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
