@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row justify-content-center">
    <h1>ERPSystem</h1>
</div>
<div class="row justify-content-center">
    <img src="~/images/avenga-logo.png" class="img-fluid" alt="Школа">
</div>
