@page
@model ERPSystem.Pages.Departments.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Department</h4>
<hr />
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Department.Name" class="control-label"></label>
                <input asp-for="Department.Name" class="form-control" />
                <span asp-validation-for="Department.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Department.DepartmentHead" class="control-label"></label>
                <select asp-for="DepartmentHeadId" asp-items="Model.DepartmentHeadList" class="form-control"><option value="">--none--</option></select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Department.Company" class="control-label"></label>
                <select asp-for="Department.CompanyId" class="form-control" asp-items="Model.CompaniesSelectList"><option value="">--none--</option></select>
                <span asp-validation-for="Department.CompanyId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Department.DepartmentState" class="control-label"></label>
                <select asp-for="Department.DepartmentState" asp-items="Html.GetEnumSelectList<Models.DepartmentState>()" class="form-control"></select>
                <span asp-validation-for="Department.DepartmentState" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="Department.Projects" class="control-label"></label><br />
                <select asp-for="SelectedProjects" asp-items="Model.ProjectsSelectList" size="10">
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="./Index"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-currentFilter="@Model.CurrentFilter">
        Back to List
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $("#DepartmentHeadId").on("change", function () {
                var employeeId = $(this).val();
                $.getJSON(`?handler=Employee&employeeId=${employeeId}`, function (response) {
                    var state = document.getElementById('Department_DepartmentState');
                    for (var i = 0; i < state.options.length; i++) {
                        if (state.options[i].text === response) {
                            state.selectedIndex = i;
                            break;
                        }
                    }
                });
            });
        });
        $(function () {
            $("#Department_CompanyId").on("change", function () {
                var companyId = $(this).val();
                $.getJSON(`?handler=Company&companyId=${companyId}`, function (response) {
                    var state = document.getElementById('Department_DepartmentState');
                    for (var i = 0; i < state.options.length; i++) {
                        if (state.options[i].text === response) {
                            state.selectedIndex = i;
                            break;
                        }
                    }
                });
            });
        });
        $(function () {
            $("#Department_DepartmentState").on("change", function () {
                var employeeId = $("#DepartmentHeadId").val();
                var companyId = $("#Department_CompanyId").val();
                var state = document.getElementById('Department_DepartmentState');
                $.getJSON(`?handler=Employee&employeeId=${employeeId}`, function (response) {
                    if (response === "Inactive") {
                        for (var i = 0; i < state.options.length; i++) {
                            if (state.options[i].text === response) {
                                state.selectedIndex = i;
                                break;
                            }
                        }
                    }
                });
                $.getJSON(`?handler=Company&companyId=${companyId}`, function (response) {
                    if (response === "Inactive") {
                        for (var i = 0; i < state.options.length; i++) {
                            if (state.options[i].text === response) {
                                state.selectedIndex = i;
                                break;
                            }
                        }
                    }
                });
            });
        });
    </script>
}
